POSTGRES_DB=onboarding_db
POSTGRES_USER=onboarding_user
POSTGRES_PASSWORD=replace_with_a_local_password
POSTGRES_PORT=5432
PGADMIN_DEFAULT_EMAIL=admin@onboarding.dev
PGADMIN_DEFAULT_PASSWORD=replace_with_a_local_password
PGADMIN_PORT=5050
